# ==========================
# Archivos temporales
# ==========================
*.tmp
*.temp
*.cache
test.sql

# ==========================
# Sistema Operativo
# ==========================
.DS_Store
Thumbs.db
desktop.ini

# ==========================
# SUBIDAS DE USUARIOS
# ==========================
public/uploads/empresa/*
public/uploads/facturas/*
public/uploads/gastos/*
public/uploads/productos/*
public/uploads/usuarios/*
!public/uploads/empresa/.gitKeep
!public/uploads/facturas/.gitKeep
!public/uploads/gastos/.gitKeep
!public/uploads/productos/.gitKeep
!public/uploads/usuarios/.gitKeep
!public/uploads/empresa/.gitKeep
database/backup/*
!database/backup/.gitKeep

# ==========================
# Configuración personal de VS Code
# ==========================
.vscode/
*.code-workspace

# ==========================
# Composer
# ==========================
/vendor/bin/
/vendor/composer/installed.php.bak

# ==========================
# Configuración local
# ==========================
.env
.env.*
/storage/installed.lock

# ==========================
# Xdebug
# ==========================
xdebug.log